body {
    background-color: hsl(0, 0%, 0%);
    font-family: Helvetica, sans-serif;
}

#content {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculatorBody {
    height: 620px;
    width: 300px;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#buttonBody {
    height: 55%;
    width: 270px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

#displayScreen {
    width: 260px;
    height: 20%;
    background-color: hsl(0, 0%, 50%);
    border-radius: 20px;
    margin: 20px auto;
}

#display {
    text-align: end;
    color: #FFFFFF;
    font-size: 32px;
    margin: 0;
    padding: 40px 10px;
}


button {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    font-size: 1.5rem;
    color: #FFFFFF;
    border: none;
    cursor: pointer;

    
}

.operatorButton {
    background-color: hsl(35, 100%, 50%);
}
.operatorButton:hover {
    background-color: hsl(35, 100%, 65%);
}
.operatorButton:active {
    background-color: hsl(35, 100%, 85%);
}

.miscButton {
    background-color: hsl(0, 0%, 30%);
}
.miscButton:hover {
    background-color: hsl(0, 0%, 45%);
}
.miscButton:active {
    background-color: hsl(0, 0%, 65%);
}

.digitButton {
    background-color: hsl(0, 0%, 10%);
}
.digitButton:hover {
    background-color: hsl(0, 0%, 25%);
}
.digitButton:active {
    background-color: hsl(0, 0%, 45%);
}

#equalButton {
    background-color: hsl(35, 100%, 50%);
    flex: 1;
}

#clearButton {
    /* background-color: hsl(35, 100%, 50%); */
    flex: 1;
}
#equalButton:hover {
    background-color: hsl(35, 100%, 65%);
}
#equalButton:active {
    background-color: hsl(35, 100%, 85%);
}